body {
  background-image: url("pics/Bg image.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

#navbar {
    display: fixed;
    height: 90px;
    flex-shrink: 0;
    background-color: #5A0393;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.qlinks {
    color: #F2F2F2;
    font-family: Judson;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.qlinks:hover {
    color: #B3B230;
    font-family: Judson;
    transform: scale(1.1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

#title {
    color:#F2F2F2;
    font-family: Judson;
    font-size: 64.975px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 0.4;
}

#herocard {
    position: relative;
    top: 60px;
    border-radius: 50px;
    background: linear-gradient(180deg, #333 0%, #4D4D4D 100%);
    box-shadow: 0px 4px 4px 0px #171619;
    height: 512px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#mypic {
    height: 450px;
    border-radius: 50%;
    transition: transform;
    transition-duration: 1s;
}

#mypic:hover {
    transform: scale(1.02);
    border: 3px solid var(--secondary, #B06CDD);
}

.headertext {
color: #F2F2F2;
font-family: "Instrument Serif";
font-size: 127.771px;
font-style: normal;
font-weight: 400;
line-height: 0px;
padding: 0;
}

#hero1{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#hero2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action {
    height: 100px;
    width: 90%;
    border-radius: 50px;
    border: 1px solid var(--secondary, #B06CDD);
    background: var(--action, #4D4D4D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform;
    transition-duration: 1s;

}

.action:hover {
    transform: scale(1.02);
    border: 3px solid var(--secondary, #B06CDD);
}

.heroactiondescription {
    line-height: 10px;
    color: var(--text-sub, #BFBFBF);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

#actiondiv {
    margin-left: 40px;
    width: fit-content;
    
}



